/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX CSS Reset Page Styling XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* CSS Reset */

/* Remove default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set default font size and line height */
html {
    font-size: 100%;
    /* Default font size of 16px */
    line-height: 1.5;
}

/* Remove default border and background */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
figure,
ol,
ul,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}

/* Remove default list styles */
ul,
ol {
    list-style: none;
}

/* Remove default quotes */
blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}

/* Remove default table spacing and borders */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Remove default button, input, textarea styling */
button,
input,
select,
textarea {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
}

/* Remove link underline */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove image border */
img {
    border: 0;
    max-width: 100%;
    display: block;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX CSS Reset Page Styling XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX General Page Styling XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

header {
    background-color: black;
    padding: 15px;
    text-align: center;
    color: white;
    font: 'times new roman', serif;
    font-size: 25px;
    font-weight: bold;
}
/* Setting header styling */

.container-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px auto;
    padding: 20px;
    background-color: darkgrey;
    max-width: 1200px;
}
/* Setting container styling */

body {
    font-family: 'times new roman', serif;
    margin: 0;
    padding: 0;
    font-size: 23px;
    background-color: lightgray
}
/* Setting general body styling */

.box-1 {
    text-shadow: 2px 2px 4px #000000;
}
/* Setting text in box-1 shadow */

.box-2 {
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 0.5);
}
/* Setting text in box-2 p1 shadow with half transparency */

.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: darkgrey;
    padding: 10px;
}
/* Setting navigation bar styling */

.navbar a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
/* Setting link styling */

.navbar a:hover {
    background-color: lightgrey;
    border-radius: 5px;
}
/* Setting navigation bar hover effect */

.navbar form {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
/* Setting link styling */

.navbar form:hover {
    background-color: lightgrey;
    border-radius: 5px;
}
/* Setting navigation bar hover effect */

.search-box label::before {
    content: "⌕";
    font-size: 20px;
    margin-right: 5px;
    text-align: center;
}
/* Search box styling with icon */

.dark-mode {
    background-color: black;
    color: white;
    border-color: lightgrey;
}
/* Setting dark mode styling */

.search-box input[type="text"] {
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
}
/* Search box input styling */

.search-box input[type="text"]:focus {
    border-color: black;
    outline: none;
}
/* Search box input focus styling when entering text */

.intro-box {
    display:flex;
    flex-wrap: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    border: 2px solid lightgrey;
    text-align: center;
    align-items: center;
    color: black;
    background-color: whitesmoke;
    border-radius: 8px;
}
/* Box intro styling */

.farewell-box {
    display: flex;
    flex-wrap: center;
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    border-radius: 8px;
    font-size: 23px;
    font-style: italic; font-weight: bold;
}
/* Farewell box styling */

footer {
    display: flex;
    justify-content: center;
    flex-wrap: center;
    background-color: black;
    color: white;
    padding: 1px;
    text-align: center;
    font-family: 'times new roman', serif;
}
/* Footer styling */

.service-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    background-color: whitesmoke;
    max-width: 1200px;
    color:black
}
/* Service box styling */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX General Page Styling XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Services Page Styling XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
.price-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkgrey;
    color: white;
}

table,
th,
td {
    border: 2px solid black;
}

th,
td {
    padding: 12px;
    text-align: center;
}

.td {
    font-size: 18px;
}

th {
    background-color: darkgrey;
    color: white;
}
/* Table header styling */

.table-row:nth-child(even) {
    background-color: lightgrey;
}
/* Table row even number styling */

.table-box {
    display: flex;
    min-width: 800px;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    border: 2px solid lightgrey;
    text-align: center;
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
}

@media screen and (max-width: 1000px) {
    .dashboard-container {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "table-box"
            "price-table";
    }
}
/* Make table responsive */

/* Table box styling */

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Services Page Styling XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX About Page Styling XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.container-2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px auto;
    padding: 20px;
    background-color: darkgrey;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 800px;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX About Page Styling XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Contact Page Styling XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.contact-box {
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    border: 2px solid lightgrey;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
    color: black;
}


.formfill {
    display: flex;
    justify-content: space-around;
    flex-wrap: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border-radius:5px;
}


input {
    border: 2px solid grey;
    padding: 5px;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

.item1 {
    display: inline-block;
    font: 10px;
    padding: 5px;
    margin: 2px;
    width: 50%;
    display: table-cell;
    text-align: center;
    border-radius: 5px;
}
/* Setting button to display side by side */

button {
    background-color: darkgrey;
    color: white;
    padding: 10px 20px;
    border: 2px solid grey;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: lightgrey;
    color:black;
    border: 2px solid black;
    border-radius: 5px;
}


.email-label::before {
    content: "✉";
    color: black;
    font-style: bold;
}

.tel-label::before {
    content: "☏";
    color: black;
    font-style: bold;
}
/* Adding icon */

.terms-link {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-style: bold;
}
/* Add T&C */

textarea {
    border: 2px solid grey;
    padding: 5px;
    border-radius: 5px;
}

.summary-label {
    text-align: top;
}

.summary-label::after {
    content: "🗊";
    color: black;
    font-style: bold;
}
/* Summary input styling */

.notes {
    padding: 20px;
    margin: 20px;
    text-align: center;
    align-items: center;
    color: black;
    background-color: whitesmoke;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Contact Page Styling XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Affiliation Page Styling XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.affbox {
    display:flex;
    justify-content: space-around;
    flex-wrap: inline-block;
    padding: 20px;
    margin: 20px;
    border: 2px solid darkgrey;
    text-align: center;
    align-items: center;
    color: black;
    background-color: lightgrey;
    border-radius: 8px;
}