header {
    background-color: black;
    padding: 15px;
    text-align: center;
    color: white;
    font: 'times new roman', serif;
    font-size: 25px;
    font-weight: bold;
}
/* Setting header styling */

.container-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px auto;
    padding: 20px;
    background-color: darkgrey;
    max-width: 1200px;
}
/* Setting container styling */

body {
    font-family: 'times new roman', serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: lightgray
}
/* Setting general body styling */

.box-1 {
    text-shadow: 2px 2px 4px #000000;
}
/* Setting text in box-1 shadow */

.box-2 p1 {
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 0.5);
}
/* Setting text in box-2 p1 shadow with half transparency */

.navbar {
    display: flex;
    justify-content: center;
    background-color: darkgrey;
    padding: 10px;
}
/* Setting navigation bar styling */

.navbar a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
/* Setting link styling */

.navbar a:hover {
    background-color: lightgrey;
    border-radius: 5px;
}
/* Setting navigation bar hover effect */

.navbar form {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
/* Setting link styling */

.navbar form:hover {
    background-color: lightgrey;
    border-radius: 5px;
}
/* Setting navigation bar hover effect */

.search-box label::before {
    content: "⌕";
    font-size: 20px;
    margin-right: 5px;
    text-align: center;
}
/* Search box styling with icon */